<nav>
    <div class="site-title">
      <a href="/" rel="noopener noreferrer">Node Crash</a>
    </div>
    <ul>
      <li><a href="/" rel="noopener noreferrer">Home</a></li>
      <li><a href="/about" rel="noopener noreferrer">About</a></li>
      <li><a href="/blogs/create" rel="noopener noreferrer">New Blog</a></li>
    </ul>
  </nav>