<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <nav>
    <div class="site-title">
      <a href="/"  rel="noopener noreferrer">Node Crash</a>
    </div>
    <ul>
      <li><a href="/"  rel="noopener noreferrer">Home</a></li>
      <li><a href="/about"  rel="noopener noreferrer">About</a></li>
      <li><a href="/blogs/create"  rel="noopener noreferrer">New Blog</a></li>
    </ul>
  </nav>
  <div class="404 not-found content">
  <h1>404 - OOPS!</h1>
  <h2>The page does not exist</h2>
  
  <%- include('./partials/footer.ejs') %>

  </div>
</body>
</html>